<template name="card">

  <div class="card">
    <div class="card-image">
      {{{ code }}}
      <div class="button-wrapper is-verticallycentered">
        <button value="" class="button is-light is-preview">Preview</button>
      </div>
    </div>
    <div class="card-content">
      <div class="content">
        <h5>{{ name }}</h5>
        <div class="tags">
          {{#each tags}}
          <a class="is-tag">#{{this}}&nbsp;</a> {{/each}}
        </div>
        <style>
          .st0 {
            fill: #00d1b2;
          }

          .st1 {
            fill: #ffffff;
          }
        </style>
        <!--<small>11:09 PM - 1 Jan 2016</small>-->
        <!--<br><br>-->
        <a class="button is-primary is-download" href="#" download>
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download</span>
            </a>
      </div>
    </div>
  </div>
</template>