<template name="controls">
  <div class="columns">
    <div class="column is-7">
      <div class="field">
        <div class="control">
          <div class="control has-icons-left">
            <input id="search" class="input" name="search" type="text" placeholder="Search" value="">
            <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-5"> 
      <input class="" type="text" id="colorpickerFront">
      <span class="is-pulled-left">&nbsp;</span>
      <input class="" type="text" id="colorpickerBack">
      <span class="is-pulled-left">&nbsp;</span>
      <button id="reset" href="#" title="Reset search" class="button is-pulled-left"><span class="icon is-small"><i class="fa fa-refresh"></i></span></button>
      <span class="is-pulled-left">&nbsp;</span>
      <button href="#" title="Toggle thumbnail view" class="button is-pulled-left"><span class="icon is-small"><i class="fa fa-th"></i></span></button>
    </div>
  </div>
</template>