<template name="footer">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Seamy</strong> by <a href="http://cohanc.com">Cohan Carpentier</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </p>
        <p>
          <a class="icon" target="_blank" href="https://www.facebook.com/SeamyPatterns/">
          <i class="fa fa-facebook"></i>
        </a>
          <a class="icon" target="_blank" href="https://twitter.com/seamypatterns">
          <i class="fa fa-twitter"></i>
        </a>
          <a class="icon" target="_blank" href="https://github.com/nahoc10/seamy">
          <i class="fa fa-github"></i>
        </a>
        </p>
      </div>
    </div>
  </footer>
</template>