<template name="navbar">
  <nav class="navbar container">
    <div class="navbar-brand">
      <a class="navbar-item" href="./">
      <h2 style="color:white;font-weight:bold;">SEAMY</h2>
    </a>

      <a class="navbar-item is-hidden-desktop" href="https://github.com/nahoc10/seamy" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    </div>

    <div id="navMenubd-example" class="navbar-menu">

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button is-primary is-inverted is-outlined" data-social-network="Facebook" target="_blank" href="https://www.facebook.com/SeamyPatterns/"><span class="icon"><i class="fa fa-facebook"></i></span><span>Facebook</span></a>
            </p>
            <p class="control">
              <a class="bd-tw-button button is-primary is-inverted is-outlined" data-social-network="Twitter" target="_blank" href="https://twitter.com/seamypatterns"><span class="icon"><i class="fa fa-twitter"></i></span><span>Twitter</span></a>
            </p>
            <p class="control">
              <a class="bd-tw-button button is-primary is-inverted is-outlined"
                target="_blank" href="https://github.com/nahoc10/seamy"><span class="icon"><i class="fa fa-github"></i></span><span>Github</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>