<template name="navbar">
  <nav class="navbar is-760">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
      <h2 style="color:white;font-weight:bold;">SEAMY.IO</h2>
      <!--<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
    </a>

      <a class="navbar-item is-hidden-desktop" href="https://github.com/nahoc10/seamy" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

      <!--<div class="navbar-burger burger" data-target="navMenubd-example">
        <span></span>
        <span></span>
        <span></span>
      </div>-->
    </div>

    <div id="navMenubd-example" class="navbar-menu">

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button is-primary is-inverted is-outlined" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://bulma.io"
                target="_blank" href="#"><span class="icon"><i class="fa fa-twitter"></i></span><span>Tweet</span></a>
            </p>
            <p class="control">
              <a class="bd-tw-button button is-primary is-inverted is-outlined"
                target="_blank" href="https://github.com/nahoc10/seamy"><span class="icon"><i class="fa fa-github"></i></span><span>Github</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>