html {
  transition: all ease-in-out 0.13s;
  background-repeat: repeat;
  background-size: 33.333333%;
}

.image {
  text-align: center;
  &:hover .button-wrapper {
    opacity: 1;
  }
}

.is-760 {
  max-width: 760px!important;
}

.is-700 {
  max-width: 700px!important;
}

.navbar {
  position: absolute!important;
  background: transparent!important;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.is-wrap {
  flex-wrap: wrap;
}

.is-lightgreen {
  background-image: linear-gradient(141deg, #00BCA0 0, #00d1b2 100%)!important;
}

.tags {
  margin-top: -3px;
}

.is-white {
  background: #ffffff;
  padding: 30px;
}

.button-wrapper {
  width: 100%;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.is-verticallycentered {
  position: absolute!important;
  top: 50%;
  transform: translateY(-50%);
}

@for $i from 1 through 5 {
  $imageURL: 'images/pattern_' + $i + '.svg';
  .pattern_#{$i} {
    background-image: url($imageURL);
  }
}

.is-reset {
  background-image: none;
}